.form {
    max-width: 328px;
    margin: 0 auto;
    padding: 30px 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(136, 136, 136, 0.25);
    border-radius: 20px;
    &__stock {
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        span {
            color: $accent;
            font-weight: bold;
        }
    }
    &__timer {
        &-reminder {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
        }
        &-block {
            max-width: 255px;
            margin: 0 auto;
            margin-top: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-time {
            width: 65px;
            padding: 9px;
            text-align: center;
            background: $accent;
            border-radius: 40px;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            white-space: nowrap;
            .secs,
            .mins,
            .hours {
                white-space: nowrap;
            }
        }
        &-separator {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__block {
        margin-top: 15px;
    }
    &__label {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            margin-bottom: 5px;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
        }
    }
    &__input {
        padding: 12px 9px;
        background: #EAEAEC;
        border-radius: 10px;
        border: none;
    }
    &__btn {
        display: block;
        padding: 12px 50px;
        width: 100%;
        max-width: 230px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 12px;
        margin-top: 18px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        border-radius: 36px;
        color: #FFFFFF;
        background: $accent;
    }
    &__place {
        font-size: 12px;
        line-height: 15px;
    }
}