.secret {
    padding-top: 26px;
    background: #FFF7CF;
    &__header {
        margin-bottom: 16px;
        text-align: center;
    }
    &__title {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        span {
            color: $accent;
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 20px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-item {
            width: 100%;
            padding: 10px 10px 10px 20px;
            margin-bottom: 12px;
            background: $accent;
            color: #fff;
            display: flex;
            align-items: flex-start;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-title {
            margin-bottom: 6px;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            line-height: 17px;
        }
        &-img {
            min-width: 100px;
            margin-right: 5px;
            height: auto;
        }
    }
}

@media screen and (min-width: 400px) {
    .secret {
        &__list {
            &-img {
                min-width: 120px;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .secret {
        padding-top: 32px;
        padding-bottom: 55px;
        &__title {
            font-size: 32px;
            line-height: 39px;
            margin-bottom: 10px;
        }
        &__descr {
            font-size: 24px;
            line-height: 29px;
        }
        &__list {
            max-width: 1240px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: row;
            position: relative;
            &-item {
                padding: 18px 30px 20px 0;
                width: 476px;
                border-radius: 25px;
                position: relative;
                z-index: 1;
            }
            &-title {
                font-size: 24px;
                line-height: 29px;
            }
            &-slim {
                width: 460px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    width: 100%;
                }
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}